<div
  class="h-screen w-screen overflow-hidden bg-gradient-to-b from-pink-400 via-purple-500 to-blue-500 text-white"
>
  <div class="flex h-full">
    <!-- Group Sidebar -->
    @if (user != null) {
    <app-groupbar
      [user]="user"
      [groups]="groups"
      [current_group]="current_group"
      (openGroup)="openGroup($event)"
      (onLogout)="onLogout()"
      [can_create_group]="canCreateGroup()"
      [is_super_admin]="isSuperAdmin()"
      (openGroupCreate)="openGroupCreate()"
      (openManageUsers)="openManageUsers()"
      (openGroupSearch)="openGroupSearch()"
    ></app-groupbar>
    }

    <!-- Main Content Panel -->
    @if (current_group != null) {
    <main class="flex-1 overflow-y-auto p-8 bg-main/95 rounded-3xl">
      @switch (current_group.id) { @case ("create") {
      <app-create-group></app-create-group>
      } @case ("users") {
      <app-user-manager [all_users]="all_users"></app-user-manager>
      } @case ("search") {
      <app-group-search [all_groups]="all_groups"></app-group-search>
      } @default {
      <div class="flex h-full">
        <app-channelbar
          [channels]="channels"
          [current_channel]="current_channel"
          [current_group]="current_group"
          (openChannel)="openChannel($event)"
          (toggleGroupSettings)="toggleGroupSettings()"
          [can_manage_group]="canManageGroup()"
        >
        </app-channelbar>

        @if (!show_group_settings) {
        <section class="flex-1">
          <app-chat [current_channel]="current_channel"></app-chat>
        </section>
        } @else {
        <section class="flex w-full h-full items-center justify-center">
          <app-group-settings></app-group-settings>
        </section>
        }
      </div>
      } }
    </main>

    <app-memberbar
      [current_group_members]="current_group.members"
      [can_manage_group]="canManageGroup()"
      (banMember)="banMember($event)"
      (kickMember)="kickMember($event)"
    >
    </app-memberbar>
    } @else {
    <div class="bg-red-800 text-white">Sorry Error! try again later</div>
    }
  </div>
</div>
