<div class="h-screen w-screen overflow-hidden bg-gradient-to-b from-pink-400 via-purple-500 to-blue-500 text-white">
    <div class="flex h-full">

        <!-- Group Sidebar -->
        <app-groupbar [user]="user" [groups]="groups" [current_group_id]="current_group_id"
            (openGroup)="openGroup($event)" (openCreate)="openCreate()" (onLogout)="onLogout()"></app-groupbar>

        <!-- Main Content Panel -->
        <main class="flex-1 overflow-y-auto p-8 bg-main/95 rounded-3xl">
            <div class="flex h-full">
                <!-- Channel Sidebar -->
                <app-channelbar [channels]="channels" [current_channel_id]="current_channel_id"
                    (openChannel)="openChannel($event)">
                </app-channelbar>

                <!-- Messages -->
                <section class="flex-1">
                    <div class="m-auto w-[50vw]">
                        <h1 class="text-2xl font-bold mb-4">{{current_channel_name}} Messages</h1>
                        <p class="text-white mb-4">
                            Put your page content here. This area scrolls independently if it overflows.
                        </p>
                        <div class="space-y-4">
                            <div class="h-48 rounded-xl border bg-gray-600 shadow-sm"></div>
                            <div class="h-48 rounded-xl border bg-gray-600 shadow-sm"></div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

        <!-- User Sidebar -->
        <app-userbar [current_group_members]="current_group_members"></app-userbar>
    </div>
</div>