<aside class="w-[250px] h-full m-4">
  @if (current_group_members.length) {
  <h2 class="text-2xl text-white mb-6 pb-3 border-b-2">Users</h2>

  <div class="space-y-4">
    <div
      *ngFor="let me of current_group_members"
      class="relative flex p-3 bg-main/90 px-4 rounded-xl shadow-xl"
    >
      <!-- Placeholder Avatar -->
      <div
        class="w-12 h-12 bg-white rounded-full flex items-center justify-center"
      >
        <span
          class="text-3xl bg-gradient-to-r from-pink-400 via-purple-500 to-blue-500 font-semibold bg-clip-text text-transparent"
        >
          {{ placeholderAvatar(me) }}
        </span>
      </div>

      <!-- Name and Role -->
      <div class="pl-3 flex-1">
        <p class="text-md">{{ me.name }}, <span class="text-xs opacity-50">{{ me.username }}</span></p>
        <p class="text-sm">{{ me.role }}</p>
      </div>

      <!-- Menu Button -->
      @if (can_manage_group) {
      <button
        class="px-2 py-1 rounded hover:bg-secondary-hover disabled:opacity-40 disabled:cursor-not-allowed"
        (click)="toggleMenu(me.username, $event)"
        [disabled]="!can_manage_group"
        aria-haspopup="menu"
        [attr.aria-expanded]="can_manage_group && opened_user === me.username"
        title="Actions"
      >
        <img src="/icons/dropdown.png" alt="menu open" width="20px" />
      </button>
      }

      <!-- Dropdown menu -->
      @if (can_manage_group && opened_user === me.username) {
      <div
        class="absolute right-2 top-12 z-10 w-30 rounded-xl border border-white/20 bg-main/95 shadow-2xl p-1"
      >
        <button
          class="w-full text-left flex px-3 py-2 rounded hover:bg-white/10"
          (click)="onBan(me)"
        >
          <img src="/icons/ban.png" alt="menu open" class="w-[15px] h-[15px]"/>
          <span class="ml-3 text-xs">Ban</span>
        </button>
        <button
          class="w-full text-left flex px-3 py-2 rounded hover:bg-white/10"
          (click)="onKick(me)"
        >
          <img src="/icons/kick.png" alt="menu open" class="w-[15px] h-[15px]"/>
          <span class="ml-3 text-xs">Kick</span>
        </button>
      </div>
      }
    </div>
  </div>

  <!-- If no member, show logo -->
  } @else {
  <div class="w-full h-full flex items-center justify-center">
    <img
      src="/logo/logo_no_text.png"
      alt="Icon"
      class="max-w-full max-h-full object-contain"
      width="100"
    />
  </div>
  }
</aside>
