<aside class="w-[250px] h-full m-4 overflow-auto hide-scrollbar">
  @if (current_channel != null) {
  <h2 class="text-lg text-white pb-3 border-t-2">Members</h2>

  <div class="space-y-4 mb-5">
    <div
      *ngFor="let member of channel_users"
      class="relative flex p-3 bg-main/90 px-4 rounded-xl shadow-xl"
    >
      <!-- Placeholder Avatar -->
      <div
        class="w-12 h-12 bg-white rounded-full flex items-center justify-center"
      >
        <span
          class="text-3xl bg-gradient-to-r from-pink-400 via-purple-500 to-blue-500 font-semibold bg-clip-text text-transparent"
        >
          {{ placeholderAvatar(member) }}
        </span>
      </div>

      <!-- Name and Role -->
      <div class="pl-3 flex-1">
        <p class="text-md">
          {{ member.name }},
          <span class="text-xs opacity-50">{{ member.username }}</span>
        </p>
        <p class="text-sm">{{ member.role }}</p>
      </div>
    </div>
  </div>

  <!-- Banned Users -->
  <h2 class="text-lg text-white pb-3 border-t-2">Banned Members</h2>
  <div class="space-y-4 mb-5">
    <div
      *ngFor="let me of banned_users"
      class="relative flex p-3 bg-main/90 px-4 rounded-xl shadow-xl"
    >
      <!-- Placeholder Avatar -->
      <div
        class="w-12 h-12 bg-white rounded-full flex items-center justify-center"
      >
        <span
          class="text-3xl bg-gradient-to-r from-pink-400 via-purple-500 to-blue-500 font-semibold bg-clip-text text-transparent"
        >
          {{ placeholderAvatar(me) }}
        </span>
      </div>

      <!-- Name and Role -->
      <div class="pl-3 flex-1">
        <p class="text-md">
          {{ me.name }},
          <span class="text-xs opacity-50">{{ me.username }}</span>
        </p>
        <p class="text-sm">{{ me.role }}</p>
      </div>
    </div>
  </div>
  <!-- If no member, show logo -->
  } @else {
  <div class="w-full h-full flex items-center justify-center">
    <img
      src="/logo/logo_no_text.png"
      alt="Icon"
      class="max-w-full max-h-full object-contain"
      width="100"
    />
  </div>
  }
</aside>
