/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Dashford.otf") format("woff2");
  font-style: normal;
  font-weight: 100;
}

@theme {
  --font-sans: "CustomFont", Arial, sans-serif;
}

body {
  @apply font-sans;
}

@theme {  
  --color-main: #202329;
  --color-main-inactive: #2d3138;
  --color-secondary: #373c45;
  --color-secondary-hover: #515863;
  --color-secondary-selected: #727c8a;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}